################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CS_WebApi_Cass_Docker/.vs/CS_WebApi_Cass_Docker/v15
/CS_WebApi_Cass_Docker/CS_WebApi_Cass_Docker/aspnetcore-stdout_7496_20186513418.log
/CS_WebApi_Cass_Docker/CS_WebApi_Cass_Docker/aspnetcore-stdout_7496_201865125657.log
/CS_WebApi_Cass_Docker/CS_WebApi_Cass_Docker/aspnetcore-stdout_7496_201865125155.log
/CS_WebApi_Cass_Docker/CS_WebApi_Cass_Docker/aspnetcore-stdout_7496_201865124512.log
