################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CS_WebApi_Cass_Docker/.vs/CS_WebApi_Cass_Docker/v15
